@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Microsoft YaHei', Verdana, Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: #222222;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

body a {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

ul {
    list-style-type: none;
}

.nav1 {
    width: 100%;
    height: 50px;
    background-color: #222222;
}

.nav2 {
    width: 100%;
    height: 40px;
    background-color: #eeeeee;
}



/*-----------------------博客----------------------*/
.blog_all {
    margin-top: 10px;
    padding: 0;
}

.blog_content {
    margin-top: 10px;
    padding-right: 10px;
    border: 1px solid #e5e5e5;
    background-color: #ffffff;

}
.blog_every {
    width: 100%;
    min-height: 200px;
    overflow: hidden;
    border-bottom: 1px dashed rgba(212, 212, 212, 0.93);
}

.blog_head {
    width: 200px;
    height: 200px;
    float: left;
    padding-top: 30px;
    text-align: center;
}

.bn_l img {
    width: 150px;
    height: 150px;
}

.blog_img {
    width: 80px;
    height: 80px;
    border: 1px solid #eeeeee;
    border-radius: 50px;
}

.blog_text {
    margin-top: 40px;
}

.blog_text p {
    margin-top: 20px;
    color: #888888;
}

.blog_bt {
    margin-top: 30px;
    color: #666666;
    font-size: 14px;
}

.blog_sb {
    width: 80px;
    height: 30px;
    margin-top: 20px;
    background-color: #ca151d;
    border: 1px solid #ca151d;
    color: #ffffff;
}

.blog_sb:hover {
    background-color: #ffffff;
    border: 2px solid #ca151d;
    color: #262626;
}